.navbar-brand{
	font-size: 30px;
	padding-bottom: 10px;
}
.nav-item{
	font-size: 25px;
}

#page-container{
	min-height: 100%;
}	

#page-content{
	min-height:100%;
	overflow: auto;
	padding-bottom:0px;
}

.footer{
	height: 7%;
	clear:both;
	bottom:0;
	width:100%;
	background-color: #FFFFFF;
	padding-top:0.01%;
}

.footer-container{
	margin:1% 30% 1% 30%;
}
.tables{
	display:table;
	margin:0 auto;
	display:inline-block;
	background-color:#FF0000;
	width:100%;
}

.col-block{
	float:left;
	width:50%;
}
.logos li{
	display:inline;
	margin-right:5%;
}

.logo{
	position:relative;
	height: 50px;
	width: 50px;
	border-radius:100%;
	margin: 5px 3px 4px;
}

/*--------------------------------------------------*/

.content{
	position: relative;
	margin-bottom: 100px
}

.banner{
	position: relative;
	width: 100%;
	z-index:0;
}

.title{
	position:absolute;
	bottom:14%;
	left:55.75%;
	color: white;
	font-size: 75px;
	z-index:1
}

.entries{
	float: left;
	width: 80%;
	z-index: 0;
	margin-bottom:50px;
	left:3%;
	margin:30px;
	
}

.right{
	float: right;
	width: 25%;
	right:5%;
	margin: 30px;
	padding-left:20px;
}

.pic{
	float: left;
	width: 25%;
	height: 25%;
	margin-right: 10px;
}

